After=network.target

[Service]
Type=forking


#Environment='LD_LIBRARY_PATH=/usr/local/lib/R/site-library/rJava/jri:/usr/lib/jvm/java-8-oracle/jre/lib/amd64/server:/usr/lib/R/lib'

ExecStart=/home/ubuntu/scalaServer/start.sh
ExecStop=/home/ubuntu/scalaServer/stop.sh

User=ubuntu
Group=ubuntu
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
