<!DOCTYPE HTML>
<html manifest="" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10, user-scalable=yes">
    <title>KnowledgeBase</title>
    <link rel="icon" href="extjsGPL/packages/local/theme-carrefour/resources/favicon.ico">

    <title>KnowledgeBase</title>

    <!-- The line below must be kept intact for Sencha Cmd to build your application -->
    <script id="microloader" data-app="376f0e62-31ec-44cc-9846-4fa4663449b0" type="text/javascript" src="extjsGPL/bootstrap.js"></script>
</head>
<body></body>
</html>
